{% extends 'generic.html' %}
{% block title %}<title>SALA M3</title>{% endblock %}

{% block informacio %}
    <div class="container">

    </div>


<div class="container text-center">
    <div style="margin-bottom: 20px ">
        <h2 align="center" style="color: #0d0d0d ">Información de Sala M3</h2>
    </div>

<table class="table table-bordered">
  <thead>
    {% for x in sala %}
    <tr>
      <th scope="col">Temperatura actual = {{ x.temperatura }} ºC</th>
        <tr>
        <tr>
            <th scope="col">Ancho x Largo de la sala = {{ x.ancho }} X {{ x.largo }}</th>
        <tr>
        <tr>
      <th scope="col">Espacio ocupado / Espacio Total = {{ x.espacio_Ocupado }}/{{ x.espacio_Total }}</th>
        <tr>
        <tr>
      <th scope="col">Espacio Disponible = ({{ x.espacio_Total }}-{{ x.espacio_Ocupado }})</th>
    </tr>
  {% endfor %}
  </thead>
</table>
</div>

{% endblock %}