{% extends 'generic.html' %}
{% block title %}<title>Manifiesto Entrada</title>{% endblock %}

{% block informacio %}
    <div class="container">

    </div>
{{ c_manifest }}

    {% for i in manifest %}
        {{ i.reference }}
    {% endfor %}
<div class="container text-center">
 <h2 align="center" style="color: #0d0d0d">Manifiestos de Entrada</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>


</div>



{% endblock %}
