{% extends 'generic.html' %}
{% block title %}<title>Productes Manifest</title>{% endblock %}



    {% block informacio %}
        <div class="container">

        </div>


        <div class="container text-center">
            <div style="margin-bottom: 20px ">
                <h2 align="center" style="color: #0d0d0d">Productes del Manifest: {{ manifest }}</h2>
            </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Quantitat</th>
              <th scope="col">Temperatura màxima</th>
              <th scope="col">Temperatura mínima</th>
              <th scope="col">Humitat màxima</th>
              <th scope="col">Humitat mínima</th>
              <th scope="col">SLA</th>
            </tr>
          </thead>
          <tbody>
            {% for Product in products %}
            <tr>
                <td>  {{ Product.name}}  </td>
                <td>  {{ Product.qty}}  </td>
                <td>  {{ Product.temp_max}}  </td>
                <td>  {{ Product.temp_min}}  </td>
                <td>  {{ Product.hum_max}}  </td>
                <td>  {{ Product.hum_min}}  </td>
                <td>  {{ Product.sla}}  </td>
            </tr>


          </tbody>
            {% empty %} Sorry, this manifest doesn't exist!
            {% endfor %}
        </table>


        </div>
    {% endblock %}

