{% extends 'generic.html' %}

{% block informacio %}
    <tr style="margin-top:20px" class="container">
        <!-- Control the column width, and how they should appear on different devices -->
        <table align="center" style="margin-top: 20px" width="400">
            <tr></tr>
            <tr>
                <a class="badge badge-pill badge-primary">FRÍO</a>
                <a class="badge badge-pill badge-secondary">MIXTA</a>
                <a class="badge badge-pill badge-danger">SALA</a>
            </tr>
            <tr>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 1</a></th>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 2</a></th>
                <th><a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 3</a></th>
                <th><a tabindex="0" class="btn btn-lg btn-secondary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 4</a></th>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 5</a></th>
            </tr>
            <tr>
                <th><a tabindex="0" class="btn btn-lg btn-secondary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 2</a></th>
                <th></th>
                <th></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-secondary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 9</a></th>
            </tr>
            <tr>
                <th><a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">FRÍO 1</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 5</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 6</a></th>
            </tr>
            <tr>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">FRÍO 2</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 5</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">MIXTA 1</a></th>
            </tr>
            <tr>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">FRÍO 4</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 5</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">MIXTA  2</a></th>
            </tr>
            <tr>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">FRÍO 5</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 5</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-secondary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">MIXTA 3</a></th>
            </tr>
            <tr>
                <th><a tabindex="0" class="btn btn-lg btn-secondary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">FRÍO 6</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-secondary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 5</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-secondary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">MIXTA 4</a></th>
            </tr>
            <tr>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">FRÍO 7</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 5</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">MIXTA 5</a></th>
            </tr>
            <tr>
                <th><a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">FRÍO 8</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">SALA 5</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Sala vacía">MIXTA 6</a></th>
            </tr>

        </table>
    </tr>

<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>
{% endblock %}
