{% extends 'generic.html' %}

{% block informacio %}
    <tr style="margin-top:20px" class="container">
        <!-- Control the column width, and how they should appear on different devices -->
        <table align="center" style="margin-top: 20px" width="400">
            <tr>
                <th><a style="width: 300px; height: 75px" tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>SALA MASS 1</a></th>

                <th><a style="width: 300px; height: 75px" class="btn btn-lg btn-danger" tabindex="0"  role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>SALA MASS 2</a></th>
            </tr>
        </table>
        <table align="center" width="400">
            <tr>
                <th ><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>SALA A</a></th>

                <th><a tabindex="0"  role="button" data-toggle="popover" data-trigger="focus"
                                 ti data-html="true"></a></th>
                <th><a style="width: 258px"</a> </th>
                <th><a tabindex="0" class="btn btn-lg btn-secondary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>M 1</a></th>
            </tr>
            <tr>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>SALA B</a></th>
                <th> <a style="width: 200px" </a>    </th>
                <th><a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>F 1</a></th>
                <th><a tabindex="0" class="btn btn-lg btn-secondary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>M 2</a></th>
            </tr>
            <tr>
                <th><a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>SALA C</a></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>F 2</a></th>
                <th><a tabindex="0" class="btn btn-lg btn-secondary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>M 3</a></th>
            </tr>
            <tr>
                <th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>F 3</a></th>

                <th><a tabindex="0" class="btn btn-lg btn-secondary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>M 4</a></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>F 4</a></th>

                <th><a tabindex="0" class="btn btn-lg btn-secondary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>M 5</a></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>F 5</a></th>

                <th><a tabindex="0" class="btn btn-lg btn-secondary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>M 6</a></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th><a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>F 6</a></th>

                <th><a  tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-trigger="focus"
                                 title="Información" data-content="Temperatura: <br /> Espacio:" data-html="true" href=#>F 7</a></th>
            </tr>
            <tr>
            </tr>

        </table>
    </tr>

        <div align="center" style="margin-top: 50px; margin-right: 430px" >
        <a class="badge badge-pill badge-primary">FRÍO</a>
        <a class="badge badge-pill badge-secondary">MIXTA</a>
        <a class="badge badge-pill badge-danger">SALA</a>
    </div>





<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>
{% endblock %}
