{% extends 'generic.html' %}

{% block informacio %}
    <div style="margin-top:20px" class="container">
    <div class="row">
        <!-- Retirar productos del muelle carga-->
      <div class="col">
        <h4 align="center">Realizar</h4>
          {% for tarea_r in tareas_r %}
        <div class="alert alert-success alert-dismissible fade show">
        <strong>{{ tarea_r.title}}:</strong> {{ tarea_r.description }}.
        <a href="{% url 'task_detail' tarea_r.pk %}">Mostrar Tarea</a>
            {% if role_class.role == 'gestorsala' or role_class.role == 'admin' %}
                <a href="{% url 'task_update_all' tarea_r.pk %}">Actualizar Tarea</a>
                <a href="{% url 'task_update_status' tarea_r.pk %}">Cambiar Estado</a>
            {% else %}
             <a href="{% url 'task_update_status' tarea_r.pk %}">Cambiar Estado</a>
            {% endif %}
        </div>
          {% endfor %}
      </div>

        <!-- Mover contenedores -->
      <div class="col">
       <h4 align="center">Pendientes</h4>
           {% for tarea_p in tareas_p %}

            <div class="alert alert-primary alert-dismissible fade show">
            <strong>{{ tarea_p.title}}:</strong> {{ tarea_p.description }}.
            </div>
          {% endfor %}
      </div>
        <!-- Transportar contenedores al muelle de carga -->
      <div class="col">
      <h4 align="center">Finalizadas</h4>
           {% for tarea_f in tareas_f %}
            <div class="alert alert-light alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ tarea_f.title}}:</strong> {{ tarea_f.description }}.
            </div>
          {% endfor %}
      </div>

    </div>





    </div>
{% endblock %}