{% extends 'generic.html' %}
{% block title %}<title>Formulari CEO</title>{% endblock %}

{% block informacio %}
    {% if user.profile.role == 'mantenimiento' or user.profile.role == 'admin' %}
         <div class="container">
            <div class="list-group">
                <form method="post">{% csrf_token %}
                {{ form.as_p }}
                    <input type="submit" value="Crear formulario para CEO">
                </form>
            </div>
        </div>
    {% else %}
        <h1>ERROR 403 - SIN PERMISOS</h1>
    {% endif%}
{% endblock %}
