{% extends 'generic.html' %}
{% block title %}<title>Productos Manifiesto</title>{% endblock %}

    {% block informacio %}
        <div class="container text-center">
            <div style="margin-bottom: 20px ">
                <h2 align="center" style="color: #0d0d0d">Productos del Manifiesto: {{ reference }}</h2>
            </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Cuantidad</th>
              <th scope="col">Temperatura máxima</th>
              <th scope="col">Temperatura mínima</th>
              <th scope="col">Humedad máxima</th>
              <th scope="col">Humidad mínima</th>
              <th scope="col">SLA</th>
            </tr>
          </thead>
          <tbody>
            {% for Product in products %}
            <tr>
                <td>  {{ Product.name}}  </td>
                <td>  {{ Product.qty}}  </td>
                <td>  {{ Product.temp_max}}  </td>
                <td>  {{ Product.temp_min}}  </td>
                <td>  {{ Product.hum_max}}  </td>
                <td>  {{ Product.hum_min}}  </td>
                <td>  {{ Product.sla}}  </td>
            </tr>


          </tbody>
            {% empty %} Lo sentimos, este manifiesto no existe!
            {% endfor %}
        </table>


        </div>
    {% endblock %}

