{% extends 'generic.html' %}
{% block title %}<title>Task detail</title>{% endblock %}

{% block informacio %}
    {% if user.profile.role != 'CEO' %}
        <div class="container" align="center">
            <h1><strong>{{ task.title }}</strong></h1>
            <h5><strong> Tarea: </strong> {{ task.description }}</h5>
            <h5><strong> Departamento asignado: </strong> {{ task.t_status }}</h5>
            <h5><strong>Descripcion :</strong> {{ task.description }}</h5>
            <h5><strong>Estado :</strong> {{ task.status}}</h5>
            <h5><strong>Asignado a :</strong> {{ task.assigned.user }}</h5>

        </div>
    {% else %}
        <h1>ERROR 403 - SIN PERMISOS</h1>
    {% endif%}
{% endblock %}
