<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Photo Bank</h1>
   <header id="main-header">
		<nav> <!-- posar botons al mig de la pantalla-->
            {% block sidebar %}
                <ul>
                    <li><a class="site-name" href="{% url 'availableActions' %}">ACCIONS_DISPONIBLES</a></li>
                        <li><a class="site-name" href="{% url 'manifest' %}"> REGISTRAR_MANIFEST</a></li>
                        <li><a class="site-name" href="{% url 'verify-modify_proposedDistribution' %}">VER_DISTRIBUCIÓN </a></li>
                        <li><a class="site-name" href="{% url 'generateTasks' %}">GENERAR_TAREAS </a></li>
                </ul>
            {% endblock %}
        </nav>
   </header>
</body>
</html>